In [3]:

import os
import pandas as pd

In [86]:
base_dir = r"/Users/elizabeth/Documents/urbanlabs/MTC/SHRP2/task6/"
demand_f = os.path.join(base_dir,"trip_list.txt")
districts_f   = os.path.join(base_dir,"dist40.csv")
district_names_f = os.path.join(base_dir,"dist40name.csv")

keep_columns = ['person_id', 'person_trip_id', 'person_tour_id', 'o_taz', 'd_taz',
       'mode', 'purpose', 'departure_time', 'arrival_time', 'time_target',
       'vot', 'PNR_ids']

In [7]:
districts_df      = pd.read_csv(districts_f, sep=",")
district_names_df = pd.read_csv(district_names_f, sep=",")

districts_df = pd.merge(left  = districts_df,
                        right = district_names_df,
                        how   ="left",
                        left_on =["DIST40"],
                        right_on=["DIST40"])
districts_df.head()

   SFTAZ  DIST40 DIST40NAME COUNTY
0  286.0     1.0  StudyZone     SF
1  296.0     1.0  StudyZone     SF
2  299.0     1.0  StudyZone     SF
3  300.0     1.0  StudyZone     SF
4  302.0     1.0  StudyZone     SF

In [48]:
demand_df = pd.read_csv(demand_f, sep=",")

demand_df.dropna(axis=0,subset=['person_tour_id'],inplace=True)
demand_df.person_tour_id = demand_df.person_tour_id.astype(int)
demand_df = pd.merge(left  = demand_df,
                        right = districts_df,
                        how   ="left",
                        left_on =["o_taz"],
                        right_on=["SFTAZ"])
demand_df.rename(columns = {"DIST40": "O_DIST", "DIST40NAME": "O_DISTNAME", "COUNTY": "O_COUNTY"},inplace=True)
demand_df = pd.merge(left  = demand_df,
                        right = districts_df,
                        how   ="left",
                        left_on =["d_taz"],
                        right_on=["SFTAZ"])
demand_df.rename(columns = {"DIST40": "D_DIST", "DIST40NAME": "D_DISTNAME", "COUNTY": "D_COUNTY"},inplace=True)
demand_df.head()

,person_id,person_trip_id,person_tour_id,o_taz,d_taz,mode,purpose,departure_time,arrival_time,time_target,vot,PNR_ids,SFTAZ_x,O_DIST,O_DISTNAME,O_COUNTY,SFTAZ_y,D_DIST,D_DISTNAME,D_COUNTY
0,1_1,1_1,1,167,4,walk-transit-walk,other,18:33:00,NaN,departure,1.09,NaN,167.0,5.0,SFEastern,SF,4.0,5.0,SFEastern,SF
1,9_9,1_0,1,10,954,walk-transit-walk,other,NaN,16:52:00,arrival,5.53,NaN,10.0,5.0,SFEastern,SF,954.0,1.0,StudyZone,SF
2,9_9,1_2,1,383,10,walk-transit-walk,other,18:32:00,NaN,departure,5.53,NaN,383.0,4.0,Richmond,SF,10.0,5.0,SFEastern,SF
3,11_11,1_0,1,15,944,walk-transit-walk,other,NaN,15:50:00,arrival,4.66,NaN,15.0,5.0,SFEastern,SF,944.0,1.0,StudyZone,SF
4,11_11,1_1,1,944,15,walk-transit-walk,other,18:12:00,NaN,departure,4.66,NaN,944.0,1.0,StudyZone,SF,15.0,5.0,SFEastern,SF

## RICHMOND SAMPLE

In [88]:
for size in [144,1440,14400]:
    NAME        = "Richmond_%s" % (size)
    DISTRICTS   = ["Richmond"]
    SAMPLE_SIZE = size
    district_df = demand_df.loc[demand_df["O_DISTNAME"].isin(DISTRICTS) & demand_df["D_DISTNAME"].isin(DISTRICTS) ]
    #district_df = demand_df.loc[demand_df["O_COUNTY"].isin(DISTRICTS) & demand_df["D_COUNTY"].isin(DISTRICTS) ]
    district_sample_df = district_df.sample(n=SAMPLE_SIZE, random_state=13)

    if district_df.shape[0]< size:
        raise()
    
    district_sample_df[keep_columns].to_csv(os.path.join(base_dir,"tests_data",NAME,"trip_list.txt"),index=False)
    print "Wrote Richmond_%s" % (size)

Wrote Richmond_144
Wrote Richmond_1440
Wrote Richmond_14400

## SF SAMPLE

In [89]:
for size in [144,1440,14400]:
    NAME        = "SF_%s" % (size)
    DISTRICTS   = ["SF"]
    SAMPLE_SIZE = size
    district_df = demand_df.loc[demand_df["O_COUNTY"].isin(DISTRICTS) & demand_df["D_COUNTY"].isin(DISTRICTS) ]
    district_sample_df = district_df.sample(n=SAMPLE_SIZE, random_state=13)

    if district_df.shape[0]< size:
        raise()
    
    district_sample_df[keep_columns].to_csv(os.path.join(base_dir,"tests_data",NAME,"trip_list.txt"),index=False)
    print "Wrote SF_%s" % (size)

Wrote SF_144
Wrote SF_1440
Wrote SF_14400

## San Mateo Sample

In [92]:
for size in [144,1440,14400]:
    NAME        = "SM_%s" % (size)
    DISTRICTS   = ["SM"]
    SAMPLE_SIZE = size
    district_df = demand_df.loc[demand_df["O_COUNTY"].isin(DISTRICTS) & demand_df["D_COUNTY"].isin(DISTRICTS) ]
    district_sample_df = district_df.sample(n=SAMPLE_SIZE, random_state=13)

    if district_df.shape[0]< size:
        raise()
    
    district_sample_df[keep_columns].to_csv(os.path.join(base_dir,"tests_data",NAME,"trip_list.txt"),index=False)
    print "Wrote SM_%s" % (size)

Wrote SM_144
Wrote SM_1440
Wrote SM_14400

## Bay Area Sample

In [94]:
for size in [144,1440,14400]:
    NAME        = "Bay_%s" % (size)
    SAMPLE_SIZE = size
    sample_df = demand_df.sample(n=SAMPLE_SIZE, random_state=13)

    if demand_df.shape[0]< size:
        raise()
    
    sample_df[keep_columns].to_csv(os.path.join(base_dir,"tests_data",NAME,"trip_list.txt"),index=False)
    print "Wrote Bay_%s" % (size)

Wrote Bay_144
Wrote Bay_1440
Wrote Bay_14400